lambda-pythonSetpFunction/statemachine/salesforcebackup.asl.json
{
    "Comment": "Salesforce Backup State Machine",
    "StartAt": "GetObjectList",
    "States": {
        "GetObjectList": {
            "Type": "Task",
            "Resource": "${GetSalesforceObjectListArn}",
            "ResultPath": "$.objectList",
            "Next": "BackupMap"
        },
        "BackupMap": {
            "Type": "Map",
            "ItemsPath": "$.objectList.objects",
            "Parameters": {
                "objectName.$": "$$.Map.Item.Value",
                "requestDetails.$": "$.objectList.requestDetails"
            },
            "Iterator": {
                "StartAt": "InitBulkBackup",
                "States": {
                    "InitBulkBackup": {
                        "Type": "Task",
                        "Resource": "${InitBulkBackupArn}",
                        "ResultPath": "$",
                        "Next": "IsBackUpInitiated"
                    },
                    "IsBackUpInitiated": {
                        "Type": "Choice",
                        "Choices": [
                            {
                                "Variable": "$.status",
                                "StringEquals": "Skipped",
                                "Next": "MarkCompleted"
                            },
                            {
                                "Variable": "$.status",
                                "StringEquals": "Submitted",
                                "Next": "WaitBeforePolling"
                            },
                            {
                                "Variable": "$.status",
                                "StringEquals": "Aborted",
                                "Next": "MarkCompleted"
                            }
                        ],
                        "Default": "WaitBeforePolling"
                    },
                    "WaitBeforePolling": {
                        "Type": "Wait",
                        "Seconds": 300,
                        "Next": "CheckBackupStatus"
                    },
                    "CheckBackupStatus": {
                        "Type": "Task",
                        "Resource": "${CheckBackupStatusArn}",
                        "ResultPath": "$",
                        "Next": "IsBackupComplete"
                    },
                    "IsBackupComplete": {
                        "Type": "Choice",
                        "Choices": [
                            {
                                "Variable": "$.state",
                                "StringEquals": "JobComplete",
                                "Next": "DownloadData"
                            },
                            {
                                "Variable": "$.state",
                                "StringEquals": "Failed",
                                "Next": "MarkFailed"
                            },
                            {
                                "Variable": "$.state",
                                "StringEquals": "InProgress",
                                "Next": "WaitBeforePolling"
                            }
                        ],
                        "Default": "MarkFailed"
                    },
                    "DownloadData": {
                        "Type": "Task",
                        "Resource": "${DownloadDataToS3Arn}",
                        "ResultPath": "$",
                        "Next": "OnDownloadToS3Complete"
                    },
                    "OnDownloadToS3Complete": {
                        "Type": "Choice",
                        "Choices": [
                            {
                                "Variable": "$.status",
                                "StringEquals": "Aborted",
                                "Next": "MarkCompleted"
                            },
                            {
                                "Next": "MarkCompleted",
                                "And": [
                                    {
                                        "Not": {
                                            "Variable": "$.objectName",
                                            "StringEquals": "ContentVersion"
                                        }
                                    },
                                    {
                                        "Not": {
                                            "Variable": "$.status",
                                            "StringEquals": "Partial"
                                        }
                                    }
                                ]
                            },
                            {
                                "Variable": "$.objectName",
                                "StringEquals": "ContentVersion",
                                "Next": "extractContentVersionList"
                            },
                            {
                                "Variable": "$.status",
                                "StringEquals": "Partial",
                                "Next": "DownloadData"
                            }
                        ],
                        "Default": "MarkFailed"
                    },
                    "extractContentVersionList": {
                        "Type": "Task",
                        "Resource": "${extractContentVersionListArn}",
                        "ResultPath": "$",
                        "Next": "ContentVersionMap"
                    },
                    "ContentVersionMap": {
                        "Type": "Map",
                        "ItemsPath": "$.column_values",
                        "Parameters": {
                            "contentVersionId.$": "$$.Map.Item.Value",
                            "s3Key.$": "$.s3_key",
                            "S3BUCKET.$": "$.S3BUCKET",
                            "requestDetails.$": "$.requestDetails"
                        },
                        "Iterator": {
                            "StartAt": "DownloadFile",
                            "States": {
                                "DownloadFile": {
                                    "Type": "Task",
                                    "Resource": "${downloadFileArn}",
                                    "ResultPath": "$",
                                    "Next": "UpdateDBStatusCompleted"
                                },
                                "UpdateDBStatusCompleted": {
                                    "Type": "Task",
                                    "Resource": "${UpdateDBStatusCompletedArn}",
                                    "End": true
                                }
                            }
                        },
                        "End": true
                    },
                    "MarkCompleted": {
                        "Type": "Task",
                        "Resource": "${UpdateDBStatusCompletedArn}",
                        "End": true
                    },
                    "MarkFailed": {
                        "Type": "Task",
                        "Resource": "${UpdateDBStatusFailedArn}",
                        "End": true
                    }
                }
            },
            "End": true
        }
    }
}